body{
    background-image: url(../pic/_LOGO.png);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size:10% 20%;
    margin-top: 10%;
    /* background-position:top; */
    background-position: left; 
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
 }
 #btn1{
   background-color: rgba(49, 206, 193, 0.835);
   height: 80px;
   width: 200px;
   border-width: thin;
   text-align: center;
   font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
   margin-left: 32%;
   border-width: thin;
}
#btn2{
   background-color: rgba(49, 206, 193, 0.835);
   height: 80px;
   width: 200px;
   border-width: thin;
   text-align: center;
   font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
   border-width: thin;
}
#btn3{
   background-color: rgba(49, 206, 193, 0.835);
   height: 80px;
   width: 200px;
   border-width: thin;
   text-align: center;
   font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
   border-width: thin;
}
 .info{
    margin-top: 20%;
    color: rgba(13, 14, 14, 0.835);
    text-align: center;
    font-size: xx-large;
 }