body{
background-image: url(../pic/_LOGO.png);
background-repeat: no-repeat;
background-attachment: fixed;
background-size: 50% 100%;
align-items: center;
background-position: center;
 
 font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
 display: grid;
 grid-template-areas: "";
}
#btn1{
    background-color: rgba(49, 206, 193, 0.835);
    height: 80px;
    width: 200px;
    border-width: thin;
    text-align: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    margin-bottom: 3%;
    margin-left: 32%;
    margin-top: 2%;
    border-width: thin;
}
#btn2{
    background-color: rgba(49, 206, 193, 0.835);
    height: 80px;
    width: 200px;
    border-width: thin;
    text-align: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    border-width: thin;
}
#btn3{
    background-color: rgba(49, 206, 193, 0.835);
    height: 80px;
    width: 200px;
    border-width: thin;
    text-align: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    border-width: thin;
}
.vegDiv{

    border-style: groove;
    border-radius: 20px;
    text-align: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    margin-left: 80%;
    margin-top: 50px;
}
.tytle{
    text-align: center;
    color: rgba(49, 206, 193, 0.835);
}
#veg{
        background-color: rgba(49, 206, 193, 0.835);
        height: 100px;
        width: 200px;
        border-width: thin;
        margin-bottom: 3%;
        margin-left: 23%;
        margin-top: 15%;
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
#fried{
        background-color: rgba(49, 206, 193, 0.835);
        height: 100px;
        width: 200px;
        border-width: thin;
        /* margin-left: 40%; */
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
#others{
        background-color: rgba(49, 206, 193, 0.835);
        height: 100px;
        width: 200px;
        border-width: thin;
        /* margin-left: 20%; */
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
#rotev{
        background-color: rgba(49, 206, 193, 0.835);
        height: 100px;
        width: 200px;
        border-width: thin;
        /* margin-left: 10%; */
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    
}
a {
    background-color: transparent;
    -webkit-text-decoration-skip: objects
}
a:hover{
    background-color: aqua;
}

